{#
/**
 * @file
 * Theme override for a Display suite node_title or name field.
 *
 * In trunks_preprocess_field() we reset the variables for this template to
 * those set for the field's inline template.
 *
 * Available variables:
 * - is_link: Whether the title is a link.
 * - wrapper: Wrapper element tag name, if any.
 * - attributes: HTML attributes for the wrappeer.
 * - entity_url: URL object.
 * - output: sanitized title string.
 * - view_mode: view mode the field is displayed in.
 *
 * @see trunks_preprocess_field()
 * @see \Drupal\ds\Plugin\DsField\Field::build()
 */
#}
{#
  Child templates can set view_mode_size_class to override the defaults for one
  or more view modes.
#}
{%
  set view_mode_size_class_defaults = {
    '__default': 'is-5',
    'teaser': 'is-3',
    'card': 'is-3',
    'media': 'is-4',
    'box': 'is-5',
  }
%}
{%
  set view_mode_size_class = view_mode_size_class ? view_mode_size_class_defaults|merge(view_mode_size_class) : view_mode_size_class_defaults %}
{%
set classes = [
  'title',
  view_mode_size_class[view_mode] ?? view_mode_size_class['__default'],
]
%}
{% set attributes = attributes.addClass(classes) %}
{% if wrapper %}
<{{ wrapper }}{{ attributes }}>
{% endif %}
{% if is_link %}
  {{ link(output, entity_url) }}
{% else %}
  {{ output }}
{% endif %}
{% if wrapper %}
</{{ wrapper }}>
{% endif %}