{% extends "@trunks/buttons/buttons.html.twig" %}
{%
  set classes = [
    'is-primary',
    'is-outlined',
    'is-medium',
    'is-size-6-touch',
  ]
%}
{% set item_classes = item_classes ?? [] %}
{% set item_classes = item_classes|merge(classes) %}
