{% extends "@trunks/tags/tags.html.twig" %}
{%
  set classes = [
    'is-success',
    'is-medium',
  ]
%}
{% set item_classes = item_classes ?? [] %}
{% set item_classes = item_classes|merge(classes) %}
