{% extends "@trunks/tags-type/tags-type.html.twig" %}
{%
  set classes = [
    'is-primary',
    'is-medium',
    'is-size-7-touch',
  ]
%}
{% set item_classes = item_classes ?? [] %}
{% set item_classes = item_classes|merge(classes) %}

