{% set classes = classes ?? [] %}
{%
  set classes = classes|merge([
    'paragraph',
    'has-background-image',
    'hero',
    'is-primary',
    'is-medium',
  ])
%}
{% set item_classes = item_classes ?? [] %}
{%
  set item_classes = item_classes|merge([
    'button',
    'is-primary',
    'is-medium',
  ])
%}
{% set item_attributes = create_attribute().addClass(item_classes) %}
{% import "@bulma/macros/renderables.html.twig" as renderables %}
{% set link = renderables.merge_attributes(item_attributes, content.field_link, 0) %}
{# Include slide component template. #}
{%
  include '@trunks/slide/slide.html.twig' with {
    classes: classes,
    image_url: content.field_image[0]['#markup'],
    text: content.field_text,
    link: link,
  } only
%}
